@font-face {
    font-family: 'Amatic';
    src: url('fonts/amaticsc-regular-webfont.eot');
    src: url('fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('fonts/amaticsc-regular-webfont.woff') format('woff'),
         url('fonts/amaticsc-regular-webfont.ttf') format('truetype'),
         url('fonts/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: 400;
    font-style: normal;
}




@font-face {
    font-family: 'Amatic';
    src: url('fonts/amaticsc-bold-webfont.eot');
    src: url('fonts/amaticsc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amaticsc-bold-webfont.woff2') format('woff2'),
         url('fonts/amaticsc-bold-webfont.woff') format('woff'),
         url('fonts/amaticsc-bold-webfont.ttf') format('truetype'),
         url('fonts/amaticsc-bold-webfont.svg#amatic_scbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
