body {
	font-family: 'Helvetica Neue', arial, sans-serif;
}

header {
	font-family: 'Amatic', cursive;

	h1 {
		font-size: 4em;
		margin: 0;
	}

	p {
		font-size: 1.6em;
		margin: 0 0 1em 0;
	}

	@media (min-width: 40em) {
		h1 {
			font-size: 8em;
		}

		p {
			font-size: 2em;
		}
	}
}

.smallprint {
	font-size: 0.8em;
	color: #999;

	a {
		color: #ad4a00;
	}
}
